<div class="well landing">
  <h2> 关于本站 </h2>

  <div class="desc">
   <p>
    <ul>
      <li> 如果可以的话，请投上您宝贵的一票给我，非常感谢您的支持。 </li>
      <li> 本站开源，源码地址 <%= link_to("https://github.com/pnjoe/jobs", "https://github.com/pnjoe/jobs") %> ，欢迎 Fork。
      <li> 程式若有问题，请直接修复并拉 pull-request。</li>
      </ul>
    </p>
  </div>
