<div class="col-md-8 col-md-offset-2 zuobian ">
  <div style="height: 200px">
  </div>
<div class="well landing">
  <h2> 关于本站 </h2>

  <div class="desc">
   <p>
    <ul>
      <li> 我是新生大学全栈营，第三期线上VIP学员joe. 这是我学习 Ruby on Rails 2个月的一个作品。</li>
      <li> 也是我本次参加<a href="https://fullstack.xinshengdaxue.com/competitions/1">魔改大赛</a>的参赛作品。</li>
      <li> 如果您喜欢本作品，请投上您宝贵的一票给我，我会非常感谢您的支持。 </li>
      <li> 如果您觉得作品哪些需要改进的，欢迎slack上指点我。ID:@joe </li>
      <li> 本站开源，源码地址 <%= link_to("https://github.com/pnjoe/jobs", "https://github.com/pnjoe/jobs") %> ，欢迎 Fork。
      <li> 程式若有问题，请直接修复并拉 pull-request。</li>
      </ul>
    </p>
  </div>
</div>
</div>
